$brand-primary:           #f442bf !default;
$brand-success:           #46c976 !default;
$brand-info:              #4286f4 !default;
$lighter-grey:            #ddd !default;
$light-grey:              #aaa !default;
$grey:                    #999 !default;
$dark-grey:               #666 !default;
$darker-grey:             #333 !default;
$async-btn-color:         #862fa3 !default;
$action-bar-spacing:      40px !default;
